<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Bowl">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <title>Bowlarama</title>
  </head>
  <body id="main">   
    <div class="row">
        <img id="ind" class="pins pin10" src="img/bowling_pin.png"/>
        <img class="pins pin9" src="img/bowling_pin.png"/>
        <img class="pins pin8" src="img/bowling_pin.png"/>
        <img class="pins pin7" src="img/bowling_pin.png"/>
    </div>
    <div class="row">
        <img class="pins pin6" src="img/bowling_pin.png"/>
        <img class="pins pin5" src="img/bowling_pin.png"/>
        <img class="pins pin4" src="img/bowling_pin.png"/>
    </div>
    <div class="row">
        <img class="pins pin3" src="img/bowling_pin.png"/>
        <img class="pins pin2" src="img/bowling_pin.png"/>
    </div>
    <div class="row">
        <img class="pins pin1" src="img/bowling_pin.png"/>
    </div>
    <div class="row">
        <img class="ball" id="ball" src="img/ball.png"/>
    </div>
    <div>
      <button id="nextRound">Next round</button>
    </div>
    <table>
      <tr class="player0">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="player1">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </body>
<script src="js/module.js"></script>
</html>